.aboutContainer {
    text-align: center;
    min-height: 99vh;
    padding-top: 4em;
    background-image: url("../assets/dirt_desatured_rocks_down.png");
    background-size: cover;
    background-attachment: fixed;
}

.aboutContainer > div {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.aboutContainer > div > .content {
    font-size: 3.5vmin;
    background-color: var(--brown-color);
    margin: 1em;
    padding: 1em 0em 0em 0em;
    box-shadow: 1px 2px 50px 1px black;
    height: calc(15vmax + 10vh);
    width: 15vmax;
}

.aboutContainer > div > .content:hover {
    box-shadow: 1px 2px 10px 1px;
}

/* .aboutContainer > div > .content > p {
    margin: 0;
    padding: 0;
    width: 15vmax;
} */

.content > p:first-child {
    height: 8vh;
    padding-bottom: 2vh;
}

.content > p > a {
    padding: 5px
}

img {
    width: 15vmax;
    height: 15vmax;
}

@media (max-width: 600px) {
    .aboutContainer > div {
        flex-direction: column;
        align-items: center;
    }

    .aboutContainer > div > .content {
        margin-bottom: 10vh;
    }
}
