.aboutContainer {
    text-align: center;
    min-height: 99vh;
    padding-top: 4em;
    background-image: url("../assets/dirt_desatured_rocks_down.png");
    background-size: cover;
    background-attachment: fixed;
}

.aboutContainer > div {
    display: flex;
    flex-direction:row;
}

.content {
    flex-grow: 1;
    font-size: 3.5vh;
    background-color: var(--brown-color);
    margin: 1em;
    padding: 10px;
    box-shadow: 1px 2px 5px 1px;
    border-radius: 1em;
}

.aboutContainer > div > .content {
    box-shadow: 1px 2px 5px 1px;
}

.aboutContainer > div >.content:hover {
    box-shadow: 1px 2px 10px 1px;
}

p {
    margin: 0;
    padding: 0;
}

p > a {
    padding: 5px
}

img {
    width: 15vw;
    height: 15vw;
}

