.demoContainer {
    text-align: center;
    min-height: 99vh;
    background-color: #085F08;
    background-image: url("../assets/capture2bis.png");
    background-size: cover;
    background-attachment: fixed;
}

.demoContainer > div {
    background-color: rgba(140, 66, 66, 0.445);
    height: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
}

.demoContainer > div > iframe {
    box-shadow: 1px 1px 10px 2px black;
}


