.homeContainer {
    min-height: 99vh;
    background-color: #393625;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.homeContainer > div > img {
    height: 55vmax;
    width: auto;
    /* Lag too much */
/*     filter: drop-shadow(10px 10px 50px rgba(0,0,0)); */
}

@media (max-width: 600px) {
    .homeContainer > div > img {
        height: 79vw;
        width: auto;
    }
}



