.homeContainer {
    min-height: 99vh;
    background-color: #393625;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.homeContainer > div > img {
    height: 55vmax;
    width: auto;
}

.homeContainer button {
    font-size: 1.6vmax;
    width: 20vmax;
    padding: 1em;
    border-radius: 1em;
    border: none;
    color: #393625;
    margin-bottom: 2em;
    box-shadow: 1px 1px 100px 5px black;
}

.homeContainer button:hover {
    opacity: 70%;

}

@media (max-width: 600px) {
    .homeContainer > div > img {
        height: 79vw;
        width: auto;
    }
}



