.rulesContainer {
    text-align: center;
    min-height: 99vh;
    padding-top: 4em;
    padding-bottom: 4em;
}

.rulesContainer {
    background-image: url("../assets/Grass_lighted_left.png");
    background-attachment: fixed;
}

.rulesContainer > .content {
    background-color: var(--brown-color);
    opacity: 90%;
    height: 100%;
/*     padding-left: 9vw;
    padding-right: 9vw;
    margin-left: 9vw;
    margin-right: 9vw; */
    display: flex;
    justify-content: center;
}

.rulesContainer img {
    width: 27vw;
    margin: 1em;
/*     animation: opacity 0.3s ease;
    transition: opacity 0.5s linear; */
    box-shadow: 1px 1px 20px 1px black;
    border-radius: 0.5em;
}

.rulesContainer button {
    border-radius: 3em;
    border: none;
}

.rulesContainer .arrow {
    font-size: 3vw;
}

.rulesContainer > .content > .arrowContainer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: 3vw;
}

.arrow:hover {
    color:rgb(65, 51, 51);
}

.content img.left,
.content img.right {
    opacity: 0.5;
    width: 23vw;
}

/* .rulesContainer > .content > div > p{
    background-color: red;
    margin: 1em;
    position: absolute;
} */

@keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/* 
.card {
    position: relative;
    display: inline-block;
    height: 11vw;
    width: 11vw;
    margin: 1em 3em 1em 3em;
    color: rgb(115, 54, 54);
}
  
.cardSide {
    height: 12vw;
    width: 12vw;
    -webkit-transition: all 0.8s ease;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
}

.cardSide--front {
    background: linear-gradient(-135deg, white, var(--grey-color));
/*  background-color: var(--grey-color); 
    box-shadow: 1px 1px 10px 1px rgb(65, 51, 51);
}
  
.cardSide--back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background: linear-gradient(-45deg, var(--grey-color), white);
    box-shadow: 1px 1px 10px 1px rgb(65, 51, 51);
}
  
.card:hover .cardSide--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
  
.card:hover .cardSide--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}
  
.cardTitle {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.cardDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.cardDetails > .title {
    font-size: 1.5vw;
    font-weight: bold;
}

.cardDetails > .description {
    font-size: 1vw;
}
 */