@font-face {
  font-family: 'MiddleAgeFont';
  src: local('MiddleAgeFont'), url(./assets/mael.regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'), url(./assets/Roboto-Thin.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face {
    font-family: 'Montserrat', sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}

body {
  background-color: #393625;
  background-attachment: fixed;
  background-size: cover;
  font-family: Montserrat, Arial, sans-serif;
  color: rgb(224, 217, 217);
  letter-spacing: 2px;
}

h1 {
  font-size: 15vmax;
}

h2 {
  padding: 0;
  margin: 0;
  font-family: MiddleAgeFont, serif;
  letter-spacing: 8px;
  font-weight: 300;
  font-size: 9vmin;
}

h3 {
    font-size: 1.5rem; 
}

/*:root {
  --dark-color: rgb(151, 151, 151, 0.7);
  --white-color: white;
  --text-dark-color: rgb(37, 37, 37);
  --text-light-color: rgb(237, 237, 237);
  --info-color: rgba(51, 130, 71, 0.315);
  --grey-color: #a9a0a2;
  --brown-color: #806a56c2;
  --dark-green-color: #03440C;
  --light-green-color: #8DB580;
}*/

p {
    font-size: 1.5rem;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 103, 103);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

@media (max-width: 600px) {
  div {
    font-size: 0.7rem;
  }
}



